# Ignore makefile from CLion
cmake-build-debug
CMakeLists.txt
.idea

# Ignore commit log
log.txt

# Ignore helper scripts for the sole purpose of organization
move.sh

# Ignore executable and outputs
coculture
